<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>us.alliesaur.textmangling</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>4D87CBE8-AA2C-4B4D-8625-2638268602DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B534777-B030-4013-BB6B-9A7605BF1B73</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B534777-B030-4013-BB6B-9A7605BF1B73</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54E21E85-CCF7-4B32-BA62-D67371BBB8E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63C17243-4D5A-45E7-A216-0E7F8CA8C134</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54E21E85-CCF7-4B32-BA62-D67371BBB8E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FA8B6AF-187A-417B-BE0E-4FFE34C934E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7A429A7-E17A-4884-B6CA-03A6D549FA05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBFAACAD-5B79-4721-8E60-9BA61F71FF91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63C17243-4D5A-45E7-A216-0E7F8CA8C134</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7A429A7-E17A-4884-B6CA-03A6D549FA05</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>676438E8-C99C-4402-AE9F-F87CC59E874A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Allison Lara</string>
	<key>description</key>
	<string>Makes text way more garbage.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Do Garbage To Text</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fw</string>
				<key>subtext</key>
				<string>Make text full width.</string>
				<key>text</key>
				<string>Full Width</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4D87CBE8-AA2C-4B4D-8625-2638268602DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>fullwidth $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>fullwidth</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5B534777-B030-4013-BB6B-9A7605BF1B73</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>54E21E85-CCF7-4B32-BA62-D67371BBB8E3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>fliptext $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>fliptext</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>63C17243-4D5A-45E7-A216-0E7F8CA8C134</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>flip</string>
				<key>subtext</key>
				<string>Make it all upside down</string>
				<key>text</key>
				<string>Flip text</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CBFAACAD-5B79-4721-8E60-9BA61F71FF91</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tflip</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Flip text on a table</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9FA8B6AF-187A-417B-BE0E-4FFE34C934E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>(╯°□°）╯︵ ┻{query}┻</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>676438E8-C99C-4402-AE9F-F87CC59E874A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>fliptext $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>fliptext</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E7A429A7-E17A-4884-B6CA-03A6D549FA05</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Do garbage to text:

fw &lt;text&gt;
  Makes text ｆｕｌｌ　ｗｉｄｔｈ

flip &lt;text&gt;
  Makes text uʍop ǝpı̣sdn

tflip &lt;text&gt;
  Same as flip but (╯°□°）╯︵ ┻ǝןqɐʇ ɐ uo┻</string>
	<key>uidata</key>
	<dict>
		<key>4D87CBE8-AA2C-4B4D-8625-2638268602DF</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>54E21E85-CCF7-4B32-BA62-D67371BBB8E3</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>5B534777-B030-4013-BB6B-9A7605BF1B73</key>
		<dict>
			<key>note</key>
			<string>fullwidth</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>63C17243-4D5A-45E7-A216-0E7F8CA8C134</key>
		<dict>
			<key>note</key>
			<string>fliptext</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>676438E8-C99C-4402-AE9F-F87CC59E874A</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>9FA8B6AF-187A-417B-BE0E-4FFE34C934E6</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>CBFAACAD-5B79-4721-8E60-9BA61F71FF91</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>E7A429A7-E17A-4884-B6CA-03A6D549FA05</key>
		<dict>
			<key>note</key>
			<string>fliptext</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>alliesaur.us</string>
</dict>
</plist>
